:root[data-theme=dark] {
  --page-bg: #11011e;
  --header-bg: #280132;
  --card-bg: rgba(255, 255, 255, 0.02);
  --border-color: rgba(255, 255, 255, 0.05);
  --main-color: #b6b6b6;
  --title-color: #ecf1f0;
  --hover-color: #0fae96;
  --pagination-hover: #2c223b;
  --darkModeIcond-display: none;
  --lightModeIcon-display: block;
}

:root[data-theme=light] {
  --page-bg: #fefefe;
  --header-bg: #ebebf3;
  --card-bg: #ffffff;
  --border-color: #eaeaea;
  --main-color: rgba(46, 40, 78, 0.9);
  --title-color: #272242;
  --hover-color: #0fae96;
  --pagination-hover: rgba(53, 46, 91, 0.2);
  --darkModeIcond-display: block;
  --lightModeIcon-display: none;
}

.header {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--header-bg);
}
.header__shadow {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo {
  color: var(--title-color);
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
}
.header__menuList {
  display: flex;
  gap: 40px;
}
.header__menuItem {
  color: var(--main-color);
  font-weight: 500;
}
.header__menuItem:hover {
  color: var(--title-color);
}
.header__darkMode {
  cursor: pointer;
  display: var(--darkModeIcond-display);
}
.header__darkMode path {
  fill: var(--main-color);
}
.header__darkMode path:hover {
  fill: var(--title-color);
}
.header__lightMode {
  cursor: pointer;
  display: var(--lightModeIcon-display);
}
.header__lightMode path {
  fill: var(--main-color);
}
.header__lightMode path:hover {
  fill: var(--title-color);
}
.header__burgerIcon {
  display: none;
}
.header__mobileMenu {
  display: none;
}

@media (max-width: 768px) {
  .header__container {
    position: relative;
  }
  .header__logo {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
  @supports (font-size: clamp( 1.375rem , 1.2857142857rem  +  0.4464285714vw , 1.5rem )) {
    .header__logo {
      font-size: clamp( 1.375rem , 1.2857142857rem  +  0.4464285714vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.2857142857rem  +  0.4464285714vw , 1.5rem )) {
    .header__logo {
      font-size: calc(
      1.375rem + 0.125 * (100vw - 20rem) / 28
    );
    }
  }
  .header__menu {
    display: none;
  }
  .header__modeIcons {
    position: absolute;
    left: 24px;
    z-index: 2;
  }
  .header__darkMode path {
    fill: var(--title-color);
  }
  .header__lightMode path {
    fill: var(--title-color);
  }
  .header__burgerIcon {
    display: block;
    margin-left: auto;
  }
  .header__burgerIcon path {
    fill: var(--title-color);
  }
  .header__mobileMenu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--header-bg);
    height: 100vh;
    padding: 24px;
  }
  .header__closeMobileMenu {
    width: 25px;
    margin-left: auto;
    margin-top: 7px;
    cursor: pointer;
  }
  .header__closeMobileMenu path {
    fill: var(--title-color);
  }
  .header__mobileMenuList::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--border-color);
    margin-top: 28px;
    margin-bottom: 35%;
  }
  .header__mobileMenuList ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-size: 20px;
    font-weight: 500;
  }
  .header__mobileMenuItem:hover {
    color: var(--title-color);
  }
}
.mobile-visable {
  display: block;
}