@use 'sass:math';
@import 'varibles';
@import 'mixins';
@import 'header';

// Подключение fontawsome icons
@import './fa_scss/fontawesome.scss';
@import './fa_scss/solid.scss';
@import './fa_scss/brands.scss';

.footer {
  padding: 48px 0;
  border-top: 1px solid var(--border-color);

  // .footer__container

  &__container {
    @include adaptiveValue('gap', 300, 24, 1352, 768, 1);
    display: flex;
    justify-content: space-between;
  }

  // .footer__left

  &__left {
    min-width: 200px;
  }

  // .footer__logo

  &__logo {
    color: var(--title-color);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 68px;
  }

  // .footer__socials

  &__socials {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
  }

  // .copyright

  &__copyright {
  }

  // .footer__right

  &__right {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  // .footer__list
  &__list {
    line-height: 24px;

    li {
      padding-block: 10px;

      &:hover {
        text-decoration: underline;
        color: var(--title-color);
        cursor: pointer;
      }
    }

    li:first-child {
      color: var(--title-color);
      font-family: Raleway;
      font-size: 18px;
      font-weight: 600;
      line-height: 122.222%;
      padding-top: 0;
      text-decoration: none;
      cursor: auto;
    }
  }
}

.socials {
  // .socials__icon

  &__icon {
    @extend %fa-icon;
    @extend .fab;
    font-size: 32px;
    transition: color 0.2s;

    &:hover {
      color: var(--title-color);
      cursor: pointer;
    }

    // .socials__icon--insta

    &__icon--insta {
    }

    // .socials__icon--fb

    &__icon--fb {
    }

    // .socials__icon--twitter

    &__icon--twitter {
    }

    // .socials__icon--youtube

    &__icon--youtube {
    }
  }
}
// =============================================================================

// =============================================================================
@media (max-width: 768px) {
  .footer {
    // .footer__container

    &__container {
      flex-direction: column;
    }

    // .footer__left

    &__left {
      margin-right: 24px;
    }

    // .footer__logo

    &__logo {
      margin-bottom: 32px;
    }

    // .footer__socials

    &__socials {
    }

    // .footer__right

    &__right {
      justify-content: space-between;
    }

    // .footer__list

    &__list {
    }
  }
}
// =============================================================================
@media (max-width: 490px) {
  .footer {
    &__right {
      flex-direction: column;
      gap: 24px;
    }
  }
}
