@use 'sass:math';
@import 'varibles';
@import 'mixins';

.header {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--header-bg);

  &__shadow {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  }

  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  // .header__logo

  &__logo {
    color: var(--title-color);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
  }

  // .header__menu

  &__menu {
  }

  // .header__menuList

  &__menuList {
    display: flex;
    gap: 40px;
  }

  // .header__menuItem

  &__menuItem {
    color: var(--main-color);
    font-weight: 500;

    &:hover {
      color: var(--title-color);
    }
  }

  // .header__darkMode

  &__darkMode {
    cursor: pointer;
    display: var(--darkModeIcond-display);

    & path {
      fill: var(--main-color);
    }
    & path:hover {
      fill: var(--title-color);
    }
  }

  // .header__lightMode
  &__lightMode {
    cursor: pointer;
    display: var(--lightModeIcon-display);

    & path {
      fill: var(--main-color);
    }
    & path:hover {
      fill: var(--title-color);
    }
  }

  // .header__hamburgerIcon
  &__burgerIcon {
    display: none;
  }

  // .header__mobileMenu
  &__mobileMenu {
    display: none;
  }
}
.mobile-visable {
  display: block;
}
// =============================================================================
@media (max-width: 768px) {
  .header {
    // .header__container

    &__container {
      position: relative;
    }

    // .header__logo

    &__logo {
      position: absolute;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);
      @include adaptiveValue('font-size', 24, 22, 768, 320, 1);
    }

    // .header__menu

    &__menu {
      display: none;
    }

    // .header__menuList

    &__menuList {
    }

    // .header__menuItem

    &__menuItem {
    }

    // .header__modeIcons

    &__modeIcons {
      position: absolute;
      left: 24px;
      z-index: 2;
    }

    // .header__darkMode

    &__darkMode {
      & path {
        fill: var(--title-color);
      }
    }

    // .header__lightMode

    &__lightMode {
      & path {
        fill: var(--title-color);
      }
    }

    // .header__burgerIcon

    &__burgerIcon {
      display: block;
      margin-left: auto;

      & path {
        fill: var(--title-color);
      }
    }

    // .header__mobileMenu

    &__mobileMenu {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--header-bg);
      height: 100vh;
      padding: 24px;
    }

    // .header__closeMobileMenu

    &__closeMobileMenu {
      width: 25px;
      margin-left: auto;
      margin-top: 7px;
      cursor: pointer;

      & path {
        fill: var(--title-color);
      }
    }

    // .header__mobileMenuList

    &__mobileMenuList::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--border-color);
      margin-top: 28px;
      margin-bottom: 35%;
    }

    &__mobileMenuList ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
      font-size: 20px;
      font-weight: 500;
    }

    // .header__mobileMenuItem

    &__mobileMenuItem {
      &:hover {
        color: var(--title-color);
      }
    }
  }
}
// =============================================================================
