@import 'varibles';

.header {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--header-bg);

  &__shadow {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  }

  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  // .header__logo

  &__logo {
    color: var(--title-color);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
  }

  // .header__menu

  &__menu {
  }

  // .header__menuList

  &__menuList {
    display: flex;
    gap: 40px;
  }

  // .header__menuItem

  &__menuItem {
    color: var(--main-color);
    font-weight: 500;

    &:hover {
      color: var(--title-color);
    }
  }

  // .header__darkMode

  &__darkMode {
    cursor: pointer;
    display: var(--darkModeIcond-display);

    & path {
      fill: var(--main-color);
    }
    & path:hover {
      fill: var(--title-color);
    }
  }

  // .header__lightMode
  &__lightMode {
    cursor: pointer;
    display: var(--lightModeIcon-display);

    & path {
      fill: var(--main-color);
    }
    & path:hover {
      fill: var(--title-color);
    }
  }
}
