@use 'sass:math';
@import 'varibles';
@import 'mixins';
@import 'null';

.main {
  padding-top: 90px;
}

.home {
  background-image: linear-gradient(180deg, var(--header-bg), var(--page-bg) 70%);
  height: 90vh;
  padding: 160px 0;

  // .home__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
  }

  // .home__top

  &__info {
    text-align: center;
  }

  // .home__title

  &__title {
    font-family: Raleway;
    color: var(--title-color);
    font-size: pixToRem(36);
    font-weight: 700;
    line-height: 122.222%;
    margin-bottom: 32px;
  }

  // .home__desc

  &__desc {
    font-size: 18px;
    line-height: 160%; /* 28.8px */
  }

  // .home__trends

  &__trends {
    display: flex;
    gap: 24px;
    width: 1308px;
    overflow: hidden;
    padding: 24px;
  }

  // .home__trendsLabel
  &__trendsLabel {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  // .home__trendLabelItem
  &__trendLabelItem {
    width: 8px;
    height: 8px;
    background-color: var(--pagination-hover);
    border-radius: 50%;
  }
}

.trend {
  display: flex;
  padding: 18px 20px;
  flex-direction: column;
  width: 297px;
  flex: 0 0 auto;
  transition: transform 0.3s ease-out;

  border-radius: 18px;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg);

  // .trend__topBlock

  &__top {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 18px;
    height: 76px;
  }

  // .trend__logo

  &__logo {
    width: 40px;
  }

  // .trend__symbol

  &__symbol {
    color: var(--title-color);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }

  // .trend__name

  &__name {
  }

  // .trend__bottomBlock

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
  }

  // .trend__price

  &__price {
    color: var(--title-color);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  // .trend__rate

  &__rate {
    color: #0fae96;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;

    &_positive {
      color: #0fae96;
    }

    &_negative {
      color: #ae0000;
    }
  }
}

.market {
  padding: 100px 0;

  // .market__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .market__info

  &__info {
    display: flex;
  }

  // .market__title

  &__title {
    margin-bottom: 40px;
    margin-right: auto;
  }

  // .market__list

  &__list {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow-x: auto;
    // scrollbar-color: blue orange;
    // scrollbar-width: thin;
  }

  &__listHeader,
  &__listItem {
    display: flex;
    align-items: center;
    height: 62px;
    padding: 0 24px;
    min-width: 938px;
    // border: 1px solid red;

    div {
      width: 19%;
    }

    div:first-child {
      width: 5%;
    }

    div:nth-child(2) {
      min-width: 330px;
    }

    div:nth-child(4) {
      width: 17%;
    }

    div:nth-child(5) {
      width: 20%;
    }

    div:nth-child(6) {
      width: 9%;
    }
  }

  // .market__listHeader

  &__listHeader {
    font-weight: 500;
  }

  // .market__nameTitile ...
  &__nameTitle,
  &__priceTitle,
  &__changeTitle,
  &__capTitle {
    cursor: pointer;

    &:hover {
      color: var(--title-color);
    }
  }

  // .market__sortedTitle
  &__sortedTitle {
    color: var(--title-color);

    &::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: transparent;
      border-top-color: inherit;
      margin-left: 5px;
    }
  }

  // .market__sortedTitle-dsc
  &__sortedTitle-asc {
    &::after {
      transform: rotate(180deg);
    }
  }

  // .market__listItem

  &__listItem {
    border-top: 1px solid var(--border-color);

    img {
      width: 32px;
    }
  }

  // .market__itemNumber

  &__itemNumber {
  }

  // .market__itemName

  &__itemName {
    display: flex;
    align-items: center;
    gap: 24px;

    span:last-child {
      font-family: Raleway;
      font-size: 18px;
      font-weight: 500;
    }
  }

  // .market__itemSymbol
  &__itemSymbol {
    text-transform: uppercase;
  }

  // .market__itemPrice

  &__itemPrice {
  }

  // .market__itemChange

  &__itemChange {
    &_positive {
      color: #0fae96;
    }

    &_negative {
      color: #ae0000;
    }
  }

  // .market__itemCap

  &__itemCap {
  }

  // .market__itemStat

  &__itemStat {
    img {
      width: 76px;
    }
  }

  // .market__pag

  &__pag {
    margin-top: 32px;
  }

  // .market__pagList

  &__pagList {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  // .market__pagItem

  &__pagItem {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    font-size: 18px;
    background-color: var(--card-bg);
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--pagination-hover);
      cursor: pointer;
    }
  }

  // .market__pagItem-active
  &__pagItem-active {
    background-color: var(--pagination-hover);
  }
}

.learn {
  padding: 100px 0;

  // .learn__container

  &__container {
  }

  // .learn__title

  &__title {
    margin-bottom: 24px;
  }

  // .learn__subTitle

  &__subTitle {
    text-align: center;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 60px;
  }

  // .learn__articleBlock

  &__articleBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 32px;

    div:first-child {
      grid-column: span 2;
      position: relative;
      color: #ecf1f0;

      img {
        width: 100%;
        object-fit: cover;
        height: 355px;
        border-radius: 18px;
      }

      div {
        position: absolute;
        top: 200px;
        left: 30px;

        p:first-child {
          font-size: 24px;
          color: #ecf1f0;
        }
      }
    }
  }

  // .learn__article

  &__article {
  }
}

.article {
  height: 355px;
  border-radius: 18px;
  border: 1px solid var(--border-color);
  background: var(--card-bg);

  &:hover {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
  }

  // .article__img

  &__img {
    width: 100%;
    height: 195px;
    object-fit: cover;
  }

  // .article__textBlock
  &__textBlock {
    padding: 20px 20px 36px 20px;
  }

  // .article__title

  &__title {
    color: var(--title-color);

    font-family: Raleway;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  // .article__subTitle

  &__subTitle {
    line-height: 157.143%;
    font-weight: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.about {
  padding: 100px 0 160px 0;

  // .about__container

  &__container {
  }

  // .about__title

  &__title {
    margin-bottom: 40px;
  }

  // .about__infoBlock

  &__infoBlock {
    display: flex;
    gap: 40px;
    text-align: justify;
  }

  // .about__text

  &__text {
    line-height: 150%;
    a {
      text-decoration: underline;
    }
    a:hover {
      color: var(--title-color);
    }

    h4 {
      font-size: 18px;
      color: var(--title-color);
      font-weight: 500;
    }
  }

  // .about__techList

  &__techList {
    margin-top: 16px;
    margin-left: 40px;

    li {
      padding: 4px;
      list-style: disc;
    }
  }

  // .about__img

  &__img {
    width: 400px;
  }
}
// =============================================================================

// =============================================================================
@media (max-width: 1307px) {
  // .home__trend
  .home {
    &__trends {
      width: 987px;
    }
  }
}
// =============================================================================

// =============================================================================
@media (max-width: 986px) {
  .home {
    @include adaptiveValue('padding-top', 160, 60, 986, 320, 1);
    @include adaptiveValue('padding-bottom', 160, 50, 986, 320, 1);
    // .home__trends

    &__trends {
      width: 666px;
    }

    &__container {
      @include adaptiveValue('gap', 140, 60, 986, 320, 1);
    }
  }

  .market {
    @include adaptiveValue('padding-top', 100, 50, 986, 320, 1);
    @include adaptiveValue('padding-bottom', 100, 50, 986, 320, 1);
    // .market__list

    &__list {
      overflow-x: scroll;
    }
  }

  .learn {
    @include adaptiveValue('padding-top', 100, 50, 986, 320, 1);
    @include adaptiveValue('padding-bottom', 100, 50, 986, 320, 1);
  }

  .about {
    @include adaptiveValue('padding-top', 100, 50, 986, 320, 1);
    @include adaptiveValue('padding-bottom', 200, 60, 986, 320, 1);
  }
}
// =============================================================================

// =============================================================================
@media (max-width: 665px) {
  // .home__trend
  .home {
    &__trends {
      width: 320px;
      padding: 12px;
    }
  }

  .learn {
    &__articleBlock {
      display: grid;
      grid-template-columns: repeat(1, minmax(295px, 1fr));
      grid-column-gap: 24px;
      grid-row-gap: 32px;

      div:first-child {
        grid-column: span 1;
        position: relative;
        color: #ecf1f0;

        img {
          width: 100%;
          object-fit: cover;
          height: 355px;
          border-radius: 18px;
        }

        div {
          position: absolute;
          top: 200px;
          left: 30px;

          p:first-child {
            font-size: 24px;
            color: #ecf1f0;
          }
        }
      }
    }
  }
}
// =============================================================================

// =============================================================================
@media (max-width: 768px) {
  .home {
    // .home__container

    &__container {
      @include adaptiveValue('padding', 12, 16, 425, 320, 1);
    }

    // .home__title

    &__title {
      @include adaptiveValue('font-size', 36, 30, 768, 320, 1);
    }

    // .home__desc

    &__desc {
      font-size: 16px;
    }
  }

  .market {
    &__container {
      @include adaptiveValue('padding', 24, 12, 425, 320, 1);
    }
  }

  .about {
    &__container {
      @include adaptiveValue('padding', 24, 12, 425, 320, 1);
    }
  }

  .learn {
    &__container {
      @include adaptiveValue('padding', 24, 12, 425, 320, 1);
    }
  }
}
// =============================================================================
