// =============================================================================
// ПОДКЛЮЧЕНИЕ ВСТРОЕННОЙ БИБЛИОТЕКИ
@use 'sass:math';
// =============================================================================

@import 'varibles';
// =============================================================================
// МИКСИНЫ

// ***** Если не подключить этот файл, то в адаптиве пливучие значение не будут работать *****//

@import 'mixins';
// =============================================================================

// =============================================================================
// ПОДКЛЮЧЕНИЕ ШРИФТОВ

// Подключение google шрифтов
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&family=Roboto:wght@400;500&display=swap');

// Подключение fontawsome icons
@import './fa_scss/fontawesome.scss';
@import './fa_scss/solid.scss';
@import './fa_scss/brands.scss';
// =============================================================================

// =============================================================================
// НАСТРОЙКИ ШРИФТА ПО УМОЛЧАНИЮ

// Создаем переменные и задаем параметры по умолчанию (те параметры, которые используются на макете больше всех). Эти переменные используются в обнуляющем стиле (null.scss) для тега body.
@import 'varibles';
// =============================================================================

// =============================================================================
// НАСТРОЙКИ АДАПТИВНОЙ СЕТКИ

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейкпоинтам (контейнер меняет свою ширину по брейкпоинтам)
$responsiveType: 1;
// =============================================================================

// =============================================================================
// ОБНУЛЕНИЕ ДЕФОЛТНЫХ СТИЛЕЙ ТЕГОВ

@import 'null';
// =============================================================================

// =============================================================================
// СТИЛИ ТЕГА BODY

body {
  background: var(--page-bg);
  // user-select: none;
}
// =============================================================================

// =============================================================================
// ОБОЛОЧКА WRAPPER

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer к низу экрана
  > main {
    flex: 1 1 auto; // разрешаем блоку main заполнять все свободное пространство родительского флекс-контейнера (wrapper),
  } // в результате этого блок footer прижимается к нижней части экрана, если он есть
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
// =============================================================================

// =============================================================================
// ОГРАНИЧИВАЮЩИЙ КОНТЕЙНЕР

[class*='__container'] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 pixToRem(math.div($containerPadding, 2));
}
// =============================================================================

// =============================================================================
// ПОДКЛЮЧЕНИЕ СТИЛЕЙ ОДЕЛНЫХ ФАЙЛОВ

@import 'header';
@import 'main';
@import 'footer';
// =============================================================================

// =============================================================================
// Common styles
h2 {
  color: var(--title-color);
  text-align: center;
  font-family: Raleway;
  font-size: pixToRem(32);
  font-weight: 700;
  line-height: 122.222%;
}
// =============================================================================
