:root[data-theme='dark'] {
  --page-bg: #11011e;
  --header-bg: #280132;

  --card-bg: rgba(255, 255, 255, 0.02);

  --border-color: rgba(255, 255, 255, 0.05);

  --main-color: #b6b6b6;
  --title-color: #ecf1f0;

  --hover-color: #0fae96;
  --pagination-hover: #2c223b;

  --darkModeIcond-display: none;
  --lightModeIcon-display: block;
}

:root[data-theme='light'] {
  --page-bg: #fefefe;
  --header-bg: #ebebf3;

  --card-bg: #ffffff;

  --border-color: #eaeaea;

  --main-color: rgba(46, 40, 78, 0.9);
  --title-color: #272242;

  --hover-color: #0fae96;
  --pagination-hover: rgba(53, 46, 91, 0.2);

  --darkModeIcond-display: block;
  --lightModeIcon-display: none;
}

$fontFamily: 'Roboto';
$fontWeight: 400;
$fontStyle: noraml;
$lightHeight: normal;
$fontSize: 1rem;

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета) - общая ширина макета
$maxWidth: 1080;
// Ширина ограничивающего контейнера (0 = нет ограничения) - ширина контента
$maxWidthContainer: 1308px;
// Общий отступ у контейнера - отступы безопасности
// (30 = по 15px слева и справа, 0 = нет отступа) - при сужения размера монитора контент не будет прилипать к монитору
$containerPadding: 48;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпоинты
$pc: em($containerWidth); // ПК, ноутбуки и некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты и некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
